<h1>crash - unhandledexception1</h1>
<p>This is a placeholder for the scenarios/crash/unhandledexception1 page.</p>
<p><a href="/scenarios/crash/unhandledexception1-actual">Go to actual scenario &rarr;</a></p>
